<div>
	<div id="quick-access" class="relative group" data-collapsed x-init="$el.removeAttribute('data-collapsed')" x-data="quickAccess">
		<div class="flex flex-col gap-6">
			<div class="flex flex-col items-center">
				<div class="text-content-dimmed transition-all flex items-center gap-2 duration-1000 delay-250 group-[[data-collapsed]]:opacity-0 group-[[data-collapsed]]:invisible group-[[data-collapsed]]:translate-y-3">
					<span>👋</span>
					{{ p__('greeting', 'Hello, %s!', user.first_name) }}
				</div>

				<h1 class="text-2xl font-bold transition-all duration-500 group-[[data-collapsed]]:opacity-0 group-[[data-collapsed]]:invisible group-[[data-collapsed]]:translate-y-1">
					{{ p__('greeting', 'How can I assist you?') }}
				</h1>
			</div>

			<div class="flex flex-col gap-4">
				<form action="app/chat" method="GET" class="relative">
					<div class="relative p-1 rounded-3xl bg-line-dimmed focus-within:bg-gradient-from focus-within:bg-linear-to-br focus-within:from-gradient-from focus-within:to-gradient-to">
						<input type="text" name="q" placeholder="{{ __('Ask anything...') }}" autocomplete="off" class="w-full block border-none h-14 text-base p-4 bg-main rounded-[1.25rem] text-content placeholder:text-content-dimmed focus:ring-0 focus:outline-hidden peer" x-ref="input">

						{% set kybdcls = 'absolute text-content-dimmed items-center justify-center gap-1 px-4 text-sm transition-all rounded-lg pointer-events-none h-11 font-primary top-1/2 -translate-y-1/2 end-2' %}

						<kbd class="{{ kybdcls }} font-medium peer-focus:invisible peer-focus:opacity-0 hidden md:flex rtl:start-2 rtl:end-auto" dir="ltr">
							<span class="-mr-0.5">⌘</span>K
						</kbd>

						<kbd class="{{ kybdcls }} font-medium invisible opacity-0 peer-focus:peer-placeholder-shown:visible peer-focus:peer-placeholder-shown:opacity-100 hidden md:flex">
							{{ p__('keyboard', 'ESC') }}
						</kbd>

						<button type="submit" class="absolute top-1/2 -translate-y-1/2 end-3 button button-accent bg-linear-to-br from-gradient-from to-gradient-to rounded-2xl p-0 w-10 h-10 peer-placeholder-shown:pointer-events-none peer-placeholder-shown:invisible peer-placeholder-shown:opacity-0">
							<i class="ti ti-arrow-right text-2xl"></i>
						</button>
					</div>
				</form>
				
				{% set links = [] %}

				{% if option.features.transcriber.is_enabled|default(false) %}
					{% set links = links|merge([
						{
							'url': '/app/transcriber',
							'label': __('Transcribe audio'),
							'icon': 'transcriber.twig',
						}
					]) %}
				{% endif %}

				{% if option.features.voice_isolator.is_enabled|default(false) %}
					{% set links = links|merge([
						{
							'url': '/app/voice-isolator',
							'label': __('Isolate sounds'),
							'icon': 'voice-isolator.twig',
						}
					]) %}
				{% endif %}
				
				{% if option.features.video.is_enabled|default(false) %}
					{% set links = links|merge([
						{
							'url': '/app/video',
							'label': __('Create videos'),
							'icon': 'video.twig',
						}
					]) %}
				{% endif %}
				
				{% if option.features.imagine.is_enabled|default(false) %}
					{% set links = links|merge([
						{
							'url': '/app/imagine',
							'label': __('Create images'),
							'icon': 'imagine.twig',
						}
					]) %}
				{% endif %}

				{% if links|length > 0 %}
					<div class="links hidden md:flex items-center justify-center gap-2">
						{% for link in links %}
							<a href="{{ link.url }}" class="button button-sm button-outline rounded-full">
								{% include "snippets/icons/" ~ link.icon %}

								{{ link.label }}
							</a>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="scroll pt-1" x-ref="explore">
		<button type="button" class="text-xs text-content-dimmed hover:text-content inline-flex items-center gap-1" @click="$refs.explore.scrollIntoView({ behavior: 'smooth' });">
			<i class="ti ti-arrow-down"></i>

			{{ p__('button', 'Scroll to explore') }}
		</button>
	</div>
</div>
